<!---<h1>Poke Circus</h1>
<h3>Who are we ?</h3>-->
<div class="container-fluid first">
  <div class="row firstrow align-items-center justify-content-center">
    <div class="container">
      <h1>Delivering great experiences</h1>
      <p>The Poke Circus is a special circus ! Well all know the region of Kanto with its amazing Pokemon !</p>
      <p>The Poke Circus have decided to gathering them for you in order to allow you to see the wildest of them !</p>
    </div>
  </div>
  <!---<div class="row">
    <div class="col-12 mt-5">
      <p>The Poke Circus is a special circus ! Well all know the region of Kanto with its amazing Pokemon !</p>
      <p>The Poke Circus have decided to gathering them for you in order to allow you to see the wildest of them !</p>
    </div>
    <div class="col-12">
      <img class="img-fluid" src="../../assets/circus.jpg" alt="circus image" />
    </div>
  </div>
</div>
<div class="container-fluid d-flex justify-content-end mt-5">
  <p>Click here to discover our menagerie !</p>
  <a [routerLink]="['/typesnav']">
    <div id="curvedarrow"></div>
  </a>-->
</div>
<div class="container-fluid second">
  <div class="row no-gutters">
    <div class="container mt-5">
      <h1>Come and visit our menagery</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
    <div class="container">
      <div class="row no-gutters cardstheme">
        <div class="col-lg-4 col-12">
          <p>Laugh</p>
        </div>
        <div class="col-lg-4 col-12">
          <p>Marvel</p>
        </div>
        <div class="col-lg-4 col-12">
          <p>Dream</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="card firstcard col-lg-4 col-12">
          <img class="card-img-top" src="/assets/clown.jpg" alt="Card image cap">
        </div>
        <div class="card firstcard col-lg-4 col-12">
          <img class="card-img-top" src="/assets/trap.jpg" alt="Card image cap">
        </div>
        <div class="card firstcard col-lg-4 col-12">
          <img class="card-img-top" src="/assets/dream.jpeg" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
  <div class="row  justify-content-end mt-5">
    <p>Click here to discover our menagerie !</p>
    <a [routerLink]="['/typesnav']">
      <div id="curvedarrow"></div>
    </a>
  </div>
</div>