<h1>Poke Circus</h1>
<h3>Who are we ?</h3>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <p>The Poke Circus is a special circus ! Well all know the region of Kanto with its amazing Pokemon !</p>
      <p>The Poke Circus have decided to gathering them for you in order to allow you to see the wildest of them !</p>
    </div>
    <div class="col-12">
      <img class="img-fluid" src="../../assets/circus.jpg" alt="circus image" />
    </div>
  </div>
</div>
<div class="container-fluid d-flex justify-content-end mt-5">
  <p>Click here to discover our menagerie !</p>
  <a [routerLink]="['/typesnav']">
    <div id="curvedarrow"></div>
  </a>
</div>