*{
    text-align: center;
  
}
h1:not(.firstrow>h1){
    text-align: center;
    color: black;
    font-size: 5rem;
}
h3{
    text-align: center;
    color:black;
    font-size: 3rem;
}
@keyframes curvedarrow{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }


#curvedarrow {
    position: relative;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-right: 60px solid red;
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    margin-left:97px;
    animation: curvedarrow 0.7s infinite;
    
}

#curvedarrow:after {
   content: "";
   position: absolute;
   border: 0 solid transparent;
   border-top: 40px solid red;
   border-radius: 130px 0 0 0;
   top: -100px;
   left: -87px;
   width: 100px;
   height: 100px;
   transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
}

.wrap{
	width:300px;
	margin:0 auto;
	padding:30px 10px;
	text-align:center;
}
.first{
    background-image: url("/assets/bigcircus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65rem;
}

.second{
    background-color: white;
    height: 85rem;
}
.firstrow{
    height:65rem;
    text-align: center;
    color: antiquewhite!important;
    font-size: 2rem;
}
 h1{
    font-size: 4rem!important;
    margin-bottom: 4rem;
}
.second{
    font-size: 2rem;
}

.firstcard{
    border: none;
    border-right: 1px black solid;
    border-radius: 0px;
    height: 18rem;
}
@media (max-width:758px){
    .firstcard{
        border: none
    }
}

.cardstheme{
    margin-top:13rem;
    margin-bottom: 5rem;
}
.card-img-top{
    height: 18rem;
}

