<div class="container-fluid d-flex flex-column justify-content-lg-center">
    <div class="row mt-5">
        <div class="card mx-auto mb-5 mb-lg-0 col-10 col-lg-3">
            <img class="card-img-top" src="assets/water.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Water type</h5>
                <p class="card-text">Come and discover our beautiful water type Pokemons ! Need to refresh yourself ? Right here !</p>
                <a [routerLink]="['/pokemon/Water']" class="btn btn-primary">See them !</a>
            </div>
        </div>
        <div class="card mx-auto mb-5 mb-lg-0 col-10 col-lg-3">
            <img class="card-img-top" src="assets/fire.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fire type</h5>
                <p class="card-text">Wanna see some dangerous and hot tempered Pokemons ? Here's the place ! Be carrefull !</p>
                <a [routerLink]="['/pokemon/Fire']" class="btn btn-primary">See them !</a>
            </div>
        </div>
        <div class="card mx-auto mb-5 mb-lg-0 col-10 col-lg-3">
            <img class="card-img-top" src="assets/grass.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Grass type</h5>
                <p class="card-text">Come spend some nice time with some adorable Pokemons ! Sweet with children, they will allow you to spend a nice moment !</p>
                <a [routerLink]="['/pokemon/Grass']" class="btn btn-primary">See them !</a>
            </div>
        </div>
    </div>
</div>